{% extends 'layouts/base.html.twig' %}

{% block title 'Log in!' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="mt-5 mb-3 text-center ">Please sign in</h1>
            <p class="mb-5 text-center text-muted"> Your pins are waiting for you</p>
            <form method="post">
                {% if error %}
                    {#
                    Si on regarde bien ici, on prend notre message ( toutes les AuthenticationException possèdent
                    une methode messageKey qui retourne le message d'erreur ), et on lui applique un filtre |trans qui veut
                    dire translations. Ce filtre accepte comme argument les données et le domaine ( ici security, on aurait pu
                    mettre toto ). Supposons que l'on crée un fichier translations/security.en.yaml. On peut définit une traduction à ce message
                    d'erreur : ainsi si je marque : 'Incorrect Credentails.' : 'Oooops problem', à chaque fois que le message
                    d'erreur 'Incorrect Credentails.' sera appelé, 'Oooops problem' s'affichera.
                    Si on avait defini comme domaine 'toto' alors il aura fallu créer un translations/toto.en.yaml
                    La traduction s'est un autre monde. Voici une petite intro.
                    #}
                    <div class="alert alert-error rounded mb-3" role="alert">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                <div class="form-group">
                    <label for="email">Email</label>   {# Remplace : id : inputEmail par email et inputPassword par password #}
                    <input type="email" value="{{ last_username }}" name="email" id="email" class="form-control" autocomplete="email" required autofocus>
                </div>

                <div class="form-group mt-4">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" autocomplete="current-password" required>
                </div>


                <div class=" mt-4 mb-3 d-flex justify-content-between">
                    {#
                        On decommente ce code pour avoir la checkbox : _remember_me
                        Puis finalement on cherche une checkbox sur Bootstrap et on l'integre
                    #}
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="_remember_me" id="defaultCheck1"/>
                            <label class="form-check-label" for="defaultCheck1">
                                Remember me
                            </label>
                        </div>
                    </div>
                    <a href=" {{ path('app_forgot_password_request') }}">Forget password ?</a>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button class="btn btn-lg w-100 btn-primary" type="submit">
                    Sign in
                </button>
                <p class="mt-4 mb-3 text-center text-muted"> Not yet register ? <a href="href="{{ path('app_register') }}"">Create an account </a></p>
            </form>
        </div>
    </div>

{% endblock %}
